// TODO: комментарии



.p-contacts {

    .navbar {
        .is-active {
            a {
                color: rgba(255,255,255,.5);
            }
        }
        li:nth-child(3) {
            a {
                color: #ffffff !important;
            }
        }
    }

    .contact-compact-input {
        max-width: 65%;
        min-width: 200px;
    }

    .contact-form {
        max-width: 500px;
        margin: 0 auto 2rem auto;
    }

}