// Page - contact
// Уникальные CSS-стили для страницы contact

.p-contacts {

    // Не используйте данный пример с .navbar в реальных проектах.
    // Это демонстрация стилей для конкретной страницы в статическом шаблоне.
    .navbar {
        .is-active {
            a {
                color: rgba(255,255,255,.5);
            }
        }
        li:nth-child(3) {
            a {
                color: #ffffff !important;
            }
        }
    }

    // Предполагается, что данные стили используются только на данной странице.

    .contact-compact-input {
        margin-top: 1rem;
        max-width: 65%;
        min-width: 200px;
    }

    .contact-form {
        max-width: 500px;
        margin: 0 auto 2rem auto;
    }

}