// TODO: комментарии



.p-project {

    .navbar {
        .is-active {
            a {
                color: rgba(255,255,255,.5);
            }
        }
    }

    .project {

        &-present {
            margin-top: 1rem;
            display: flex;
            flex-direction: column;

            @include tablet-land() {
                flex-direction: row;
            }
        }


        &-preview {
            img {
                display: block;
                border-radius: 7px;
            }
        }

        &-description {
            margin-top: 1rem;

            @include tablet-land() {
                margin-top: 0;
                padding-left: 1rem;
                max-width: 37%;
            }

            @include desktop() {
                max-width: 35%;
            }

            .btn {
                @include tablet() {
                    font-size: 1.5rem;
                    height: 52px;
                    padding: 0 18px;
                }
            }
        }

        &-title {
            font-size: 2rem;
            margin-bottom: 0.5rem;
            line-height: 1;

            @include tablet() {
                font-size: 2.5rem;
            }
            @include tablet-land() {
                font-size: 3rem;
            }
        }

        &-alert {
            border: solid 1px $color-border-separator;
            background-color: #6c757d;
            text-align: center;
            color: #FFFFFF;
            padding: 1.5rem;
            border-radius: 7px;
            margin: 1rem 0;
        }

    }


    .card-list {
        display: flex;
        flex-direction: column;

        @include phone() {
            flex-direction: row;
            flex-wrap: wrap;
        }

        @include tablet() {
            flex-direction: row;
            flex-wrap: nowrap;
        }

        .card {

            &-item {
                margin-bottom: 1rem;


                @include phone() {
                    max-width: 50%;
                    flex-shrink: 0;
                    padding-right: 0.5rem;
                    &:nth-child(2n) {
                        padding-left: 0.5rem;
                        padding-right: 0;
                    }

                }

                @include tablet() {
                    margin-right: 1rem;
                    flex-shrink: 1;

                    &:last-of-type {
                        margin-right: 0;
                    }
                }
            }

            &-title {
                line-height: 1;
                font-size: 2rem;
                margin-bottom: 1rem;
            }

            &-description {
                padding: 1rem;
                border: solid 1px $color-border-separator;
            }

            &-footer {
                background: rgba(0,0,0,.03);
                padding: 1rem;
                border: solid 1px $color-border-separator;
                border-top: none;
            }
        }

    }

}