.p-static {

    .navbar {
        .is-active {
            a {
                color: rgba(255,255,255,.5);
            }
        }
        li:nth-child(2) {
            a {
                color: #ffffff !important;
            }
        }
    }
}