// Colors
$color-base: #32325D;
$color-base-light: #5959E4;
$color-special: #FFCC33;

$color-dark: #000;
$color-light: #FFF;

$color-info: #45B2E8;
$color-danger: #FD707D;
$color-success: #31C784;
$color-warning: #F4C162;


// Fonts
$font-base: 'Roboto', sans-serif;