* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

*::-moz-focus-inner {
    border: 0;
    outline: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    color: $color-base;
    font-family: $font-base;
    font-size: 16px;

    // Push footer to bottom
    display: flex;
    flex-direction: column;

    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}

// Push footer to bottom
main.container {
    flex: 1 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
    background-color: transparent;
    &:active,
    &:focus,
    &:hover {
        outline: 0;
    }
}

strong, b {
    font-family: $font-base;
    font-weight: 600;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.text {
    &-right {
        text-align: right;
    }

    &-left {
        text-align: left;
    }

    &-center {
        text-align: center;
    }
}

.has-overflow, .no-scroll {
    overflow: hidden;
}

.has-ellipsis {
    text-overflow: ellipsis;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.no-events {
    pointer-events: none;
}