.btn {
    display: inline-block;
    height: 37px;
    padding: 0 14px;
    cursor: pointer;
    transition: all .15s $ease-in;
    white-space: nowrap;
    text-decoration: none;
    letter-spacing: .015em;
    // text-transform: uppercase;
    color: $color-base;
    border: 1px solid transparent;
    border-radius: 4px;
    background: transparent;
    box-shadow: 0 4px 6px rgba($color-base, .1), 0 1px 3px rgba($color-base, .08);
    font-family: $font-bold;
    font-size: rem(14);
	transform: translateZ(0);
	line-height: 35px;

    &:hover {
        // transform: translateY(-1px);
		color: inherit;
        box-shadow: 0 7px 14px rgba($color-base, .1), 0 3px 6px rgba($color-base, .08);
    }
    &:active {
        box-shadow: inset 0 0 5px rgba($color-base, .1);
    }
	.svg-icon {
		position: relative;
		top: 3px;
		width: 16px;
		height: 16px;
		margin-right: 5px;
	}

	&-reset {
		background: none repeat scroll 0 0 transparent;
		color: inherit;
		/* cursor: default; */
		font: inherit;
		line-height: normal;
		overflow: visible;
		user-select: none;
		box-shadow: none;
		height: auto;
		border-radius: 0;
		box-sizing: content-box;
		margin: 0;
		padding: 0;
		border: medium none;
		border-spacing: 0;
		list-style: none outside none;
		transform: none;

		&::-moz-focus-inner {
			border: 0;
			padding: 0;
		}
	}


	&.btn {
		&-base {
			@extend %scheme-base;
			&:hover {
				color: $color-base;
				background: darken($color-light, 5%);
			}
		}
		
		&-accent {
			@extend %scheme-accent;
			&:hover {
				color: $color-light;
				background: darken($color-base, 5%);
			}
		}
	
		&-success {
			@extend %scheme-success;
			&:hover {
				color: $color-light;
				background: darken($color-success, 5%);
			}
		}
	
		&-info {
			@extend %scheme-info;
			&:hover {
				color: $color-light;
				background: darken($color-info, 5%);
			}
		}
		
		&-danger {
			@extend %scheme-danger;
			&:hover {
				color: $color-light;
				background: darken($color-danger, 5%);
			}
		}
		
		&-warning {
			@extend %scheme-warning;
			&:hover {
				color: $color-light;
				background: darken($color-warning, 5%);
			}
		}
		
		&-bordered {
			@extend %scheme-bordered;
		}
	}
}