// Base
.form {
    &-row {
        display: flex;
    }

    &-group {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        &.form-inline {
            flex-direction: row;
            *:not(:last-child) {
                margin-right: 15px;
            }
        }
        &:not(:last-child) {
            margin-right: 15px;
            margin-bottom: 15px;
        }
        *:not(:last-child) {
            margin-bottom: 5px;
        }
    }

    &-label {
        font-size: rem(14);
        display: flex;
        .is-optional {
            margin-left: auto;
            opacity: .5;
            font-size: rem(12);
            align-self: center;
        }
    }

    &-control {
        overflow: hidden;
        width: 100%;
        margin: 0;
        letter-spacing: .025em;
        outline: 0;
        appearance: none;

        &:focus {
            outline: 0;
        }
    }

    &-help {
        position: absolute;
        top: 100%;
        margin-top: 7px;
        background: rgba($color-danger, 1);
        color: $color-light;
        padding: 5px 7px;
        border-radius: 5px;
        z-index: 999;
        font-size: 85%;
        min-width: 250px;
        opacity: 0;
        visibility: hidden;
        transition: .3s;
        text-align: left;

        &:after {
            content: '';
            display: block;
            position: absolute;
            left: 20px;
            right: 0;
            bottom: 100%;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 5px 5px 5px;
            border-color: transparent transparent rgba($color-danger, 1) transparent;
        }
    }

    &-toggle {
        .form-label {
            display: flex;
            align-items: center;
            font-size: rem(16);
            position: relative;
            transition: all .3s $ease-out;
            &:before {
                content: '';
                min-width: 16px;
                height: 16px;
                border: 1px solid rgba($color-base, .5);
                display: block;
                margin-right: 5px;
                position: relative;
                top: -2px;
            }
            &:after {
                content: '';
                width: 8px;
                height: 8px;
                background-color: transparent;
                display: block;
                position: absolute;
                top: 3px;
                left: 5px;
            }
        }

        input[type='radio'],
        input[type='checkbox'] {
            display: none;

            &:checked + .form-label {
                &:before {
                    border: 1px solid $color-success;
                }

                &:after {
                    background-color: $color-success;
                }
            }
        }

        input[type='radio'] + .form-label {
            &:before,
            &:after {
                border-radius: 50%;
            }
        }

        input[type='checkbox'] + .form-label:before {
            border-radius: 2px;
        }

        input[type='checkbox'] {
            &:checked + .form-label {
                &:after {
                    background: transparent url('/img/svg/checked.svg');
                    width: 10px;
                    height: 10px;
                    left: 4px;
                    top: 47%;
                    transform: translateY(-50%);
                }
            }
        }
    }
}

select {
    &:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #000;
    }
    &.form-control {
        position: relative;
        padding-right: 30px;
        &::-ms-expand {
            display: none;
        }
        appearance: none;
        background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
        background-repeat: no-repeat;
        background-position-x: 100%;
        background-position-y: 7px;
    }
}

textarea {
    &.form-control {
        max-height: 150px;
        resize: vertical;
    }
}

// Theme
.form {
    &-group {
        &.has-error {
            .form {
                &-label {
                    color: $color-danger;
                }
                &-control {
                    background-image: linear-gradient(-180deg, rgba($color-danger, 0) 50%, rgba($color-danger, .05) 100%);
                    box-shadow: 0 1px 0 0 rgba($color-danger, .3), 0 1px 5px 0 rgba($color-danger, .3);
                }
                &-help {
                    visibility: visible;
                    opacity: 1;

                    &.not-visible {
                        opacity: 0;
                        visibility: hidden;
                    }
                }
            }
        }

        &.has-success {
            .form {
                &-label {
                    color: $color-success;
                }
                &-control {
                    background-image: linear-gradient(-180deg, rgba($color-success, 0) 50%, rgba($color-success, .05) 100%);
                    box-shadow: 0 1px 0 0 rgba($color-success, .3), 0 1px 5px 0 rgba($color-success, .3);
                }
            }
        }
    }

    &-control {
        padding: 10px 10px 8px;
        color: $color-base;
        border: 1px solid transparent;
        border-radius: 4px;
        background: $color-light;
        box-shadow: 0 1px 0 0 rgba($color-base, .06), 0 1px 5px 0 rgba($color-base, .2);
        font-family: $font-base;
        font-size: rem(16);
        line-height: 1.5em;
        height: 44px;

        &:not(select):focus {
            background-image: linear-gradient(-180deg, rgba($color-info, 0) 50%, rgba($color-info, .05) 100%);
        }

        &:focus {
            box-shadow: 0 1px 0 0 rgba($color-info, .3), 0 1px 5px 0 rgba($color-info, .3);
        }

        &[readonly] {
            background-color: rgba($color-dark, .05);
        }

        @include placeholder {
            color: rgba($color-base, .5);
        }
    }
}
