@mixin placeholder {
    &::-webkit-input-placeholder {
        @content
    }
    &:-moz-placeholder {
        @content
    }
    &::-moz-placeholder {
        @content
    }
    &:-ms-input-placeholder {
        @content
    }
}

.form {

    &-group {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        &:not(:last-child) {
            margin-right: 15px;
            margin-bottom: 15px;
        }
        *:not(:last-child) {
            margin-bottom: 5px;
        }
    }

    &-control {
        overflow: hidden;
        width: 100%;
        margin: 0;
        letter-spacing: .025em;
        outline: 0;
        appearance: none;
        padding: 10px 10px 8px;
        color: $color-base;
        border: 1px solid transparent;
        border-radius: 4px;
        background: $color-light;
        box-shadow: 0 1px 0 0 rgba($color-base, .06), 0 1px 5px 0 rgba($color-base, .2);
        font-family: $font-base;
        line-height: 1.5em;
        height: 44px;

        &:not(select):focus {
            background-image: linear-gradient(-180deg, rgba($color-info, 0) 50%, rgba($color-info, .05) 100%);
        }

        &:focus {
            box-shadow: 0 1px 0 0 rgba($color-info, .3), 0 1px 5px 0 rgba($color-info, .3);
        }

        &[readonly] {
            background-color: rgba($color-dark, .05);
        }

        @include placeholder {
            color: rgba($color-base, .5);
        }

        &:focus {
            outline: 0;
        }
    }
}


select {
    &:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #000;
    }
    &.form-control {
        position: relative;
        padding-right: 30px;
        &::-ms-expand {
            display: none;
        }
    }
}

textarea {
    &.form-control {
        min-height: 150px;
        max-height: 250px;
        resize: vertical;
    }
}