.table {
    width: 100%;

    &-responsive {
        overflow: auto;
    }

    &-main {
        background: $color-light;
        box-shadow: 0 10px 25px 0 rgba($color-dark, 0.1);
        border-radius: 4px;
        position: relative;
    }

    thead {
        tr {
            th {
                background: #fff;
                font-size: rem(14);
                color: $color-base;
                letter-spacing: 0;
                font-weight: bold;
                padding: 19px 15px 19px;
                text-align: left;
            }
        }
    }

    tbody {

        tr {
            background: #fff;
            &:nth-last-of-type(2n-1) {
                background: rgba($color-base-light, 0.05);
                &:hover {
                    background: rgba($color-base-light, 0.09);
                }
            }
            &:hover {
                background: rgba($color-base-light, 0.02);
            }

            td {
                padding: 9px 15px 8px;
                position: relative;
                z-index: 1;

                .table-avatar {
                    width: 35px;
                    height: 35px;
                    border-radius: 50% 50%;
                    background: no-repeat center / cover;
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 15px;
                    position: relative;
                    z-index: 1;
                }
            }
        }

        .table-empty {
            padding: 15px;
        }
    }

    thead,
    tbody {
        tr {
            th.table-member {
                padding-left: 70px;
            }
            .table-member {
                min-width: 100%;
                white-space: nowrap;
            }

            .table-win {
                width: 120px;
            }

            .table-chance {
                width: 85px;
            }

            .table-bet {
                width: 85px;
            }
        }
    }
}