// layout - base
// В проекте есть несколько страниц, например:  home, about, contact и др.
// На каждой из этих страниц могут быть общие стили. Следовательно, мы можем
// обьединить похожие страницы в один layout и разместить общий код в нем.

// В данном примере, все страницы используют заголовки, чтобы не дублировать код
// заголовков для каждой страницы, мы сгрупируем их в один layout.


.l-base {

    .main-title {
        font-size: 2rem;
        margin: 1rem 0;
        line-height: 1;
    }

    .central-title {
        @extend .main-title;
        text-align: center;
        display: block;
        margin: 2rem 0;
        > span {
            border-bottom: dashed 1px;
        }
    }

}